@import "tailwindcss";

@theme {
    --color-primary: #0E2E85;
    --color-secondary: #9333EA;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}