---

---

<nav class="bg-white  py-3 flex px-4 justify-center">
      <div class="max-w-7xl mx-auto flex items-center gap-10 py-4 overflow-x-auto scrollbar-hide">
        <button class="flex items-center gap-2 text-sm font-semibold hover:text-primary transition whitespace-nowrap">
          Categorías
        </button>
        <a href="#" class="text-sm font-medium hover:text-primary transition whitespace-nowrap flex items-center gap-1">
          <img src="/icon/Switch-Industrial.ico" class="w-8 h-8" alt="">
          Switch Catalyst
        </a>
        <a href="/" class="text-sm font-bold text-primary  hover:text-primary transition whitespace-nowrap flex items-center gap-1">
          <img src="/icon/Cisco-Business.ico" class="w-8 h-8" alt="">
          Cisco Business
        </a>
        <a href="#" class="text-sm font-medium hover:text-primary transition whitespace-nowrap flex items-center gap-1">
          <img src="/icon/Switch-Industrial.ico" class="w-8 h-8" alt="">
          Switch Industrial
        </a>
        <a href="#" class="text-sm font-medium hover:text-primary transition whitespace-nowrap flex items-center gap-1">
          <img src="/icon/Transceiver.ico" class="w-8 h-8" alt="">
          Aironet
        </a>
        <a href="#" class="text-sm font-medium hover:text-primary transition whitespace-nowrap flex items-center gap-1">
          <img src="/icon/Télefono.ico" class="w-8 h-8" alt="">
          Telefonoía
        </a>
        <a href="#" class="text-sm font-medium hover:text-primary transition whitespace-nowrap flex items-center gap-1">
          <img src="/icon/mariakii.ico" class="w-8 h-8" alt="">
          Meraki
        </a>
        <a href="#" class="text-sm font-medium hover:text-primary transition whitespace-nowrap flex items-center gap-1">
          <img src="/icon/Transceiver.ico" class="w-8 h-8" alt="">
          Transceiver
        </a>
      </div>
    </nav>